.contact{
  background: var(--color-background);
}

.contact h1{
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-size: 2rem;
  margin-bottom: 4rem;
}

.boxs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.box{
  background: #202024;
  width: 400px;
  height: 250px;
  border-radius: 8px;
  margin: 15px;
  transition: box-shadow 300ms;
}

.box:hover{
  box-shadow: 0 15px 30px 0 rgb(33 22 63 / 50%);
}

.fas{
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 1.2rem
}

.box h3, p{
  color: var(--color-secondary);
}

@media (max-width: 720px){
  .boxs{
    flex-direction: column;
    display: flex;
  }
}