.main{
  background: var(--color-background);
  height: calc(100vh - 80px);
}

.headerContainer{
  display: flex;
  height: 100%;
  justify-content: center;
}

.headerDescription{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerDescription h2{
  font-size: 2.18rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.headerDescription h1{
  font-size: 4.68rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.headerDescription h3{
  text-align: center;
  font-size: 1.56rem;
  color: var(--color-secondary);
}

.icons{
  margin-top: 20px;
}

.fab_fa:first-child{
  margin-left: 0px;
}

.fab_fa{
  color: var(--color-primary);
  margin-left: 1.5rem;
  font-size: 2.5rem;
}